<ion-view title="在线名师">
  <ion-content>

    <label class="item item-input item-select">
    <div class="input-label">
      选择课程
    </div>
<!--
    <select>
      <option>英语</option>
      <option>数学</option>
      <option>钢琴</option>
    </select>
-->


    <select ng-model="optionSelected"
            ng-options="opt as opt.label for opt in options">
    </select>

    </label>
    

     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="teacher in teachers|filter:{from: optionSelected.value}" type="item-text-wrap">
        <img ng-src="{{teacher.face}}">
        <h2>{{teacher.name}}</h2>
      </ion-item>
    </ion-list>



  </ion-content>
</ion-view>

