<ion-view view-title="通讯录" cache-view="false" class="tab-friends-view">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends | orderBy:'-time'" type="item-text-wrap" href="#/tab/chats/{{friend.name}}">
        <img ng-src="{{friend.face}}" ng-class="{'offline': !friend.offline}">
        <h2>{{friend.name}}</h2>
        <p ng-class="{'offline': !friend.offline}">{{friend.message}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
        <ion-option-button class="button-assertive" ng-click="remove(friend.name)">
          WebRTC 
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
