<ion-view view-title="Welcome {{user.name}}">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{user.face}}">
        <h2>{{user.name}}</h2>
        <p>{{user.name}}</p>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider">
        我的课程表
      </div>
      <div class="item item-text-wrap">
        英语</br>
	厨艺</br>
	手风琴</br>
      </div>
      <div class="item item-divider">
        
      </div>
     </div>
	
      <div class="card">
      <div class="item item-avatar">
        <img src="{{user.face}}">
        <h2>我的学习圈</h2>
      </div>
    </div>

  </ion-content>
</ion-view>

